.header {
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 10px;
}

.wrapper {
    display: inline-flex;
    width: 100%;
}

.sidebar {
    width: 35%;
}

.profile-image {
    width: 100%;
}
.menu {
    background-color: darkgrey;
}    

ul.list {
    list-style-type: none;
    color: white;
}

li.links {
    text-decoration: none;
    padding: 5%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
}

.footer {
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 10px;
}
