h2 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
    border-radius: 10px 20px 30px 40px;    
}

h2 {
    font-size: 40px;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
}